<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>[Khai báo](glossary://declaration) một [biến](glossary://variable) để theo dõi số lượng ngọc mà bạn nhặt lên và so sánh với [hằng số](glossary://constant) `totalGems` để xác định thời điểm sẽ dừng.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
