<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Khi **không** có viên ngọc ở bậc trên cùng, cầu thang kéo dài từ ô đó. Hãy sử dụng điều kiện \"nếu nhân vật của bạn KHÔNG ở trên viên ngọc\" để xác định việc cần làm trong tình huống đó.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
