<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Bắt đầu bằng cách làm cho Byte di chuyển lên trên dốc, sau đó rẽ trái, chuyển đổi công tắc và đi tới cổng.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
