<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Thử giữ nguyên khối `else` của bạn mà không thay đổi lệnh `moveForward()`. Thay vào đó, hãy sửa đổi các lệnh bên trong khối `if` của bạn.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
