<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Bạn có nhận thấy từng nhóm bốn viên ngọc giống hệt nhau như thế nào không? Hãy viết mã cho một nhóm sao cho mã hoạt động với tất cả các nhóm khác.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
