<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Trước tiên, hãy định nghĩa hàm `solveStair()` của bạn để đi lên cầu thang, thu thập một viên ngọc, quay đầu và di chuyển trở về trung tâm.
            </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
