<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Bất kỳ ô nào trong hình vuông đều có thể có một viên ngọc, công tắc mở hoặc công tắc đóng. Trước tiên, hãy viết một hàm có tên là `checkTile()` để kiểm tra từng khả năng trên một ô đơn nhất.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
