<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Trước tiên, bạn cần định nghĩa hàm `turnLock` sao cho hàm đó sử dụng [tham số](glossary://parameter) `up` để cho chuyên gia biết hướng xoay của khóa. Sau đó, sử dụng `numberOfTimes` để đặt số lần sẽ xoay khóa.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
